/****************************
          STYLE CSS
****************************/

/****************************
          VARIÁVEIS

:root
-------
Sumário
-------
A pseudo-classe CSS :root se equipara à raíz de uma árvore, que por sua vez representa o documento. Aplicado ao HTML, :root representa o elemento <html>  e é identico ao seletor html, exceto que sua especificidade é mais alta.

Exemplo
Usar :root pode ser útil para declarar uma variável CSS global:

:root {
  --main-color: hotpink;
  --pane-padding: 5px 42px;
}
****************************/

:root 
{
  /************/
  /* Primary */
  /************/
  

  /*************/
  /* Body Copy */
  /*************/
  --font-size: ;
  
  /*********/
  /* Font */
  /*********/
  --font-outfit: ;
}

/****************************
          RESET
****************************/
*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a{
  text-decoration: none;
}

.header-bg{
  background-color: #000 ;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu{
  display: flex;
  gap: 40px;
}

.header-menu a{
  color: #fff;
  display: inline-block;
  padding: 16px 0px; /* Aumentar área de contato do botão */
  font-size: 18px;
}